body {
  background-image: url("./background.gif");
  padding: 10px;
}

.App {
  text-align: center;
  color: #fff;
  font-family: "lato", sans-serif;
}

/* html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 673px 1527px #fff, 933px 784px #fff, 1092px 309px #fff,
    234px 1259px #fff, 784px 1197px #fff, 794px 1272px #fff, 800px 1895px #fff,
    147px 1288px #fff, 1339px 1195px #fff, 1626px 1053px #fff,
    1035px 1222px #fff, 1670px 1980px #fff, 1357px 137px #fff,
    1270px 1501px #fff, 1753px 1275px #fff, 341px 593px #fff, 1304px 570px #fff,
    812px 417px #fff, 1770px 430px #fff, 680px 1468px #fff, 1699px 1470px #fff,
    32px 1865px #fff, 777px 1881px #fff, 694px 731px #fff, 528px 81px #fff,
    1218px 1894px #fff, 1049px 1574px #fff, 574px 1077px #fff, 643px 983px #fff,
    541px 1927px #fff, 413px 808px #fff, 1664px 73px #fff, 1214px 608px #fff,
    1005px 1371px #fff, 1835px 736px #fff, 1192px 1976px #fff,
    1988px 1830px #fff, 990px 919px #fff, 1161px 510px #fff, 1372px 812px #fff,
    980px 529px #fff, 257px 1825px #fff, 1750px 879px #fff, 811px 864px #fff,
    1261px 524px #fff, 1634px 1143px #fff, 1252px 1042px #fff, 847px 1856px #fff,
    1369px 1088px #fff, 1725px 446px #fff, 1447px 398px #fff, 1179px 1365px #fff,
    493px 1221px #fff, 741px 1217px #fff, 1284px 1308px #fff, 1321px 730px #fff,
    1385px 836px #fff, 1695px 270px #fff, 590px 718px #fff, 287px 986px #fff,
    1471px 94px #fff, 1588px 1817px #fff, 1635px 408px #fff, 1947px 1651px #fff,
    763px 605px #fff, 238px 1173px #fff, 1519px 1219px #fff, 1807px 282px #fff,
    930px 1081px #fff, 1098px 954px #fff, 442px 291px #fff, 1383px 407px #fff,
    173px 469px #fff, 682px 1763px #fff, 1271px 1532px #fff, 1336px 1638px #fff,
    1240px 538px #fff, 276px 269px #fff, 1761px 1562px #fff, 666px 1668px #fff,
    1995px 795px #fff, 989px 672px #fff, 1318px 1248px #fff, 329px 1430px #fff,
    608px 191px #fff, 903px 1228px #fff, 971px 1669px #fff, 48px 274px #fff,
    1997px 755px #fff, 983px 1636px #fff, 1741px 1389px #fff, 1207px 1418px #fff,
    479px 1325px #fff, 1339px 1895px #fff, 422px 803px #fff, 1994px 1894px #fff,
    1297px 672px #fff, 1461px 656px #fff, 869px 406px #fff, 1186px 1643px #fff,
    391px 1978px #fff, 56px 1831px #fff, 527px 1802px #fff, 1025px 1095px #fff,
    1661px 1383px #fff, 889px 93px #fff, 1793px 1180px #fff, 559px 260px #fff,
    220px 637px #fff, 243px 1px #fff, 183px 1856px #fff, 470px 1998px #fff,
    1212px 127px #fff, 1599px 454px #fff, 1204px 480px #fff, 1207px 41px #fff,
    74px 1901px #fff, 250px 1294px #fff, 1857px 481px #fff, 517px 660px #fff,
    1524px 1505px #fff, 39px 396px #fff, 19px 137px #fff, 1672px 1134px #fff,
    1765px 1000px #fff, 98px 1876px #fff, 428px 446px #fff, 554px 590px #fff,
    1374px 1852px #fff, 1981px 1992px #fff, 848px 1520px #fff, 1411px 377px #fff,
    495px 1065px #fff, 298px 225px #fff, 1392px 1212px #fff, 296px 729px #fff,
    1809px 1586px #fff, 1035px 1735px #fff, 995px 1728px #fff,
    1339px 1444px #fff, 1130px 16px #fff, 1338px 962px #fff, 1638px 1914px #fff,
    1431px 722px #fff, 891px 944px #fff, 1696px 315px #fff, 1264px 860px #fff,
    1687px 224px #fff, 1011px 870px #fff, 530px 1768px #fff, 1063px 591px #fff,
    3px 1363px #fff, 1049px 605px #fff, 435px 522px #fff, 937px 1495px #fff,
    854px 759px #fff, 274px 1147px #fff, 1247px 224px #fff, 391px 610px #fff,
    51px 1302px #fff, 900px 154px #fff, 1434px 600px #fff, 878px 94px #fff,
    150px 1754px #fff, 1954px 1445px #fff, 877px 316px #fff, 1123px 337px #fff,
    1813px 99px #fff, 344px 81px #fff, 286px 257px #fff, 1386px 1507px #fff,
    882px 1845px #fff, 835px 1312px #fff, 767px 1330px #fff, 428px 648px #fff,
    1580px 779px #fff, 1438px 219px #fff, 512px 1222px #fff, 1319px 1473px #fff,
    539px 1719px #fff, 1111px 1847px #fff, 764px 1644px #fff, 1208px 1324px #fff,
    1798px 1574px #fff, 1349px 903px #fff, 204px 1991px #fff, 143px 53px #fff,
    1263px 62px #fff, 1896px 1697px #fff, 556px 922px #fff, 1474px 1932px #fff,
    907px 1021px #fff, 861px 1706px #fff, 1544px 1399px #fff, 94px 1143px #fff,
    400px 154px #fff, 264px 960px #fff, 1047px 911px #fff, 1786px 1337px #fff,
    1143px 485px #fff, 1592px 1735px #fff, 1366px 121px #fff, 453px 1098px #fff,
    395px 956px #fff, 1207px 918px #fff, 1764px 609px #fff, 1879px 271px #fff,
    1563px 482px #fff, 329px 1005px #fff, 306px 1802px #fff, 488px 1445px #fff,
    368px 840px #fff, 959px 1073px #fff, 1161px 1295px #fff, 1935px 1427px #fff,
    662px 796px #fff, 1705px 1449px #fff, 1991px 891px #fff, 1066px 855px #fff,
    1143px 1570px #fff, 866px 82px #fff, 1189px 1316px #fff, 1185px 38px #fff,
    1197px 971px #fff, 1240px 1482px #fff, 1269px 1809px #fff,
    1973px 1657px #fff, 353px 1441px #fff, 334px 1447px #fff, 1384px 313px #fff,
    277px 843px #fff, 71px 1197px #fff, 911px 789px #fff, 931px 1230px #fff,
    1596px 503px #fff, 421px 1897px #fff, 925px 346px #fff, 509px 698px #fff,
    74px 55px #fff, 1907px 248px #fff, 1700px 1041px #fff, 1819px 600px #fff,
    949px 247px #fff, 278px 1578px #fff, 1105px 1065px #fff, 140px 1454px #fff,
    1996px 1753px #fff, 1878px 903px #fff, 1667px 1744px #fff,
    1128px 1738px #fff, 1742px 508px #fff, 1284px 1744px #fff,
    1043px 1116px #fff, 786px 1486px #fff, 1411px 341px #fff, 1026px 225px #fff,
    1906px 1515px #fff, 50px 719px #fff, 1926px 1518px #fff, 817px 1110px #fff,
    1829px 559px #fff, 139px 1494px #fff, 439px 1388px #fff, 481px 1225px #fff,
    846px 364px #fff, 1508px 891px #fff, 1830px 1550px #fff, 389px 1378px #fff,
    330px 991px #fff, 553px 569px #fff, 1909px 1834px #fff, 636px 853px #fff,
    818px 1326px #fff, 458px 222px #fff, 845px 558px #fff, 1169px 1582px #fff,
    509px 1934px #fff, 1779px 437px #fff, 893px 862px #fff, 108px 848px #fff,
    1530px 1744px #fff, 1718px 1800px #fff, 1086px 1481px #fff,
    277px 1711px #fff, 1314px 1053px #fff, 1005px 1563px #fff, 938px 699px #fff,
    634px 1312px #fff, 479px 576px #fff, 1995px 1992px #fff, 1981px 868px #fff,
    969px 571px #fff, 1713px 128px #fff, 1984px 1718px #fff, 1046px 339px #fff,
    1196px 1193px #fff, 490px 976px #fff, 1990px 750px #fff, 5px 1558px #fff,
    656px 662px #fff, 333px 8px #fff, 1272px 77px #fff, 507px 1365px #fff,
    1037px 93px #fff, 1165px 1681px #fff, 826px 1289px #fff, 1295px 811px #fff,
    1584px 1301px #fff, 936px 834px #fff, 400px 1797px #fff, 708px 596px #fff,
    858px 1437px #fff, 39px 1487px #fff, 1373px 915px #fff, 1884px 1620px #fff,
    9px 832px #fff, 587px 543px #fff, 259px 994px #fff, 378px 60px #fff,
    1079px 1533px #fff, 485px 87px #fff, 1027px 863px #fff, 1484px 634px #fff,
    1702px 506px #fff, 1763px 172px #fff, 267px 1097px #fff, 369px 271px #fff,
    93px 437px #fff, 836px 421px #fff, 1528px 394px #fff, 241px 1952px #fff,
    700px 1037px #fff, 1458px 963px #fff, 1648px 97px #fff, 251px 1153px #fff,
    157px 675px #fff, 447px 1908px #fff, 1691px 657px #fff, 1024px 785px #fff,
    139px 1064px #fff, 409px 1504px #fff, 1389px 1637px #fff, 733px 472px #fff,
    497px 164px #fff, 1664px 252px #fff, 409px 909px #fff, 646px 1341px #fff,
    1571px 1453px #fff, 798px 181px #fff, 361px 1273px #fff, 575px 590px #fff,
    332px 1431px #fff, 269px 1589px #fff, 1919px 1785px #fff, 1657px 1072px #fff,
    1987px 1571px #fff, 801px 1274px #fff, 19px 261px #fff, 1764px 26px #fff,
    1346px 1191px #fff, 695px 47px #fff, 684px 269px #fff, 10px 1785px #fff,
    1348px 144px #fff, 951px 588px #fff, 1778px 1321px #fff, 1321px 1576px #fff,
    1330px 744px #fff, 1542px 15px #fff, 1318px 1522px #fff, 1015px 1325px #fff,
    670px 116px #fff, 1969px 120px #fff, 1885px 472px #fff, 1237px 1929px #fff,
    1036px 109px #fff, 583px 277px #fff, 1093px 677px #fff, 66px 1905px #fff,
    1748px 1998px #fff, 1882px 1943px #fff, 1358px 1347px #fff,
    1048px 1131px #fff, 986px 64px #fff, 699px 469px #fff, 1162px 1741px #fff,
    157px 698px #fff, 1355px 466px #fff, 1806px 1076px #fff, 359px 813px #fff,
    598px 1289px #fff, 1532px 182px #fff, 310px 1853px #fff, 500px 1243px #fff,
    867px 1393px #fff, 1280px 372px #fff, 167px 1809px #fff, 338px 619px #fff,
    874px 1344px #fff, 1205px 1518px #fff, 838px 1595px #fff, 37px 115px #fff,
    1727px 644px #fff, 1333px 486px #fff, 489px 633px #fff, 598px 1764px #fff,
    1978px 1641px #fff, 1509px 236px #fff, 622px 1101px #fff, 1011px 1954px #fff,
    1758px 72px #fff, 565px 1248px #fff, 1543px 418px #fff, 705px 1714px #fff,
    1182px 1435px #fff, 1563px 89px #fff, 17px 317px #fff, 988px 468px #fff,
    1096px 870px #fff, 1587px 1165px #fff, 1035px 376px #fff, 672px 1486px #fff,
    1455px 1699px #fff, 72px 1431px #fff, 237px 1058px #fff, 1558px 1088px #fff,
    1563px 569px #fff, 190px 804px #fff, 163px 1143px #fff, 1693px 324px #fff,
    888px 1692px #fff, 1697px 59px #fff, 1960px 566px #fff, 1837px 1903px #fff,
    1131px 1375px #fff, 1724px 122px #fff, 710px 154px #fff, 240px 1922px #fff,
    888px 1011px #fff, 271px 528px #fff, 407px 180px #fff, 1691px 810px #fff,
    950px 684px #fff, 774px 1708px #fff, 961px 905px #fff, 117px 526px #fff,
    4px 769px #fff, 751px 181px #fff, 1014px 823px #fff, 1895px 168px #fff,
    747px 1870px #fff, 263px 270px #fff, 206px 1552px #fff, 1927px 250px #fff,
    164px 334px #fff, 500px 889px #fff, 444px 1716px #fff, 1760px 17px #fff,
    730px 661px #fff, 950px 1254px #fff, 374px 621px #fff, 1341px 1651px #fff,
    1549px 881px #fff, 1692px 1795px #fff, 99px 1285px #fff, 457px 1824px #fff,
    43px 154px #fff, 1118px 904px #fff, 72px 1429px #fff, 60px 854px #fff,
    30px 520px #fff, 1953px 815px #fff, 1521px 923px #fff, 233px 1186px #fff,
    506px 528px #fff, 805px 635px #fff, 693px 1554px #fff, 1890px 1371px #fff,
    782px 230px #fff, 941px 189px #fff, 1039px 1774px #fff, 927px 1746px #fff,
    351px 1395px #fff, 168px 971px #fff, 769px 1389px #fff, 1367px 68px #fff,
    1950px 1270px #fff, 1835px 1448px #fff, 320px 1061px #fff, 200px 1828px #fff,
    1017px 189px #fff, 775px 1496px #fff, 356px 1008px #fff, 1751px 243px #fff,
    950px 813px #fff, 1869px 1858px #fff, 566px 363px #fff, 1658px 1379px #fff,
    1270px 72px #fff, 389px 1187px #fff, 800px 1389px #fff, 858px 595px #fff,
    1534px 1431px #fff, 1080px 637px #fff, 779px 1750px #fff, 872px 282px #fff,
    1962px 193px #fff, 533px 337px #fff, 1382px 1586px #fff, 777px 33px #fff,
    1440px 601px #fff, 998px 1788px #fff, 671px 1247px #fff, 1598px 749px #fff,
    1702px 938px #fff, 1629px 1279px #fff, 672px 779px #fff, 1755px 880px #fff,
    890px 480px #fff, 1336px 555px #fff, 1804px 315px #fff, 1331px 621px #fff,
    1196px 193px #fff, 1761px 948px #fff, 663px 1862px #fff, 255px 1363px #fff,
    1412px 922px #fff, 683px 209px #fff, 1126px 560px #fff, 576px 479px #fff,
    660px 1661px #fff, 1887px 1027px #fff, 1898px 513px #fff, 1890px 800px #fff,
    540px 1454px #fff, 1531px 1682px #fff, 249px 1190px #fff, 609px 1241px #fff,
    347px 903px #fff, 447px 762px #fff, 92px 891px #fff, 1644px 1244px #fff,
    1142px 1786px #fff, 419px 1303px #fff, 523px 1133px #fff, 1649px 1191px #fff,
    1731px 645px #fff, 31px 1014px #fff, 1244px 1001px #fff, 59px 1147px #fff,
    1755px 1432px #fff, 1769px 1876px #fff, 1145px 1982px #fff, 817px 994px #fff,
    1984px 230px #fff, 145px 1323px #fff, 590px 154px #fff, 1218px 1626px #fff,
    1165px 936px #fff, 1840px 493px #fff, 887px 776px #fff, 1292px 1928px #fff,
    1442px 1151px #fff, 865px 1792px #fff, 316px 805px #fff, 1831px 1220px #fff,
    266px 351px #fff, 821px 1792px #fff, 1718px 405px #fff, 435px 583px #fff,
    1794px 581px #fff, 1388px 376px #fff, 1778px 1084px #fff, 1000px 1043px #fff,
    1926px 1552px #fff, 1672px 916px #fff, 1645px 1494px #fff,
    1088px 1588px #fff, 420px 1049px #fff, 87px 465px #fff, 1776px 683px #fff,
    1080px 514px #fff, 964px 457px #fff, 1887px 785px #fff, 1898px 525px #fff,
    396px 753px #fff, 895px 1046px #fff, 84px 497px #fff, 151px 805px #fff,
    799px 825px #fff, 1346px 1013px #fff, 574px 468px #fff, 139px 1024px #fff,
    1119px 268px #fff, 328px 1242px #fff, 870px 888px #fff, 912px 1022px #fff,
    561px 945px #fff, 1196px 530px #fff, 1478px 1435px #fff, 361px 460px #fff,
    408px 1088px #fff, 1159px 341px #fff, 902px 1013px #fff, 1640px 711px #fff,
    102px 317px #fff, 382px 211px #fff, 68px 30px #fff, 1025px 1898px #fff,
    1487px 1034px #fff, 28px 561px #fff, 1787px 1699px #fff, 1262px 244px #fff,
    379px 494px #fff, 988px 283px #fff, 1808px 1549px #fff, 930px 1489px #fff,
    246px 422px #fff, 886px 1956px #fff, 901px 956px #fff, 1319px 1282px #fff,
    1625px 894px #fff, 89px 1094px #fff, 768px 1508px #fff, 1354px 192px #fff,
    1897px 1273px #fff, 265px 564px #fff, 965px 1079px #fff, 192px 360px #fff,
    1140px 1789px #fff, 556px 1536px #fff, 1593px 1594px #fff, 628px 1155px #fff,
    66px 55px #fff, 514px 426px #fff, 349px 983px #fff, 1528px 1191px #fff,
    1280px 1849px #fff, 445px 1914px #fff, 286px 435px #fff, 1086px 618px #fff,
    1812px 579px #fff, 454px 1256px #fff, 1387px 1737px #fff, 817px 1702px #fff,
    1858px 1193px #fff, 1102px 739px #fff, 344px 1098px #fff, 1460px 1304px #fff,
    1869px 1126px #fff, 963px 977px #fff, 1168px 175px #fff, 115px 374px #fff,
    976px 1378px #fff, 1630px 280px #fff, 1289px 1209px #fff, 1009px 1644px #fff,
    108px 1331px #fff, 627px 1032px #fff, 573px 1782px #fff, 1057px 1601px #fff,
    1085px 1760px #fff, 1335px 1556px #fff, 18px 810px #fff, 1891px 1369px #fff,
    1875px 195px #fff, 862px 655px #fff, 1845px 773px #fff, 943px 644px #fff,
    198px 1484px #fff, 756px 283px #fff, 1966px 1607px #fff, 84px 1656px #fff,
    714px 1192px #fff, 1903px 1963px #fff, 74px 860px #fff, 1377px 1713px #fff,
    1914px 1497px #fff, 367px 1904px #fff, 1731px 1861px #fff, 1500px 471px #fff,
    1230px 1112px #fff, 1227px 1177px #fff, 1130px 630px #fff, 1256px 813px #fff,
    861px 174px #fff, 333px 636px #fff, 1433px 1970px #fff, 1514px 1155px #fff,
    1058px 1546px #fff, 1220px 1709px #fff, 455px 132px #fff, 1356px 1772px #fff,
    1897px 220px #fff, 1607px 472px #fff, 996px 521px #fff, 1093px 264px #fff,
    560px 852px #fff, 774px 1055px #fff, 1368px 134px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 673px 1527px #fff, 933px 784px #fff, 1092px 309px #fff,
    234px 1259px #fff, 784px 1197px #fff, 794px 1272px #fff, 800px 1895px #fff,
    147px 1288px #fff, 1339px 1195px #fff, 1626px 1053px #fff,
    1035px 1222px #fff, 1670px 1980px #fff, 1357px 137px #fff,
    1270px 1501px #fff, 1753px 1275px #fff, 341px 593px #fff, 1304px 570px #fff,
    812px 417px #fff, 1770px 430px #fff, 680px 1468px #fff, 1699px 1470px #fff,
    32px 1865px #fff, 777px 1881px #fff, 694px 731px #fff, 528px 81px #fff,
    1218px 1894px #fff, 1049px 1574px #fff, 574px 1077px #fff, 643px 983px #fff,
    541px 1927px #fff, 413px 808px #fff, 1664px 73px #fff, 1214px 608px #fff,
    1005px 1371px #fff, 1835px 736px #fff, 1192px 1976px #fff,
    1988px 1830px #fff, 990px 919px #fff, 1161px 510px #fff, 1372px 812px #fff,
    980px 529px #fff, 257px 1825px #fff, 1750px 879px #fff, 811px 864px #fff,
    1261px 524px #fff, 1634px 1143px #fff, 1252px 1042px #fff, 847px 1856px #fff,
    1369px 1088px #fff, 1725px 446px #fff, 1447px 398px #fff, 1179px 1365px #fff,
    493px 1221px #fff, 741px 1217px #fff, 1284px 1308px #fff, 1321px 730px #fff,
    1385px 836px #fff, 1695px 270px #fff, 590px 718px #fff, 287px 986px #fff,
    1471px 94px #fff, 1588px 1817px #fff, 1635px 408px #fff, 1947px 1651px #fff,
    763px 605px #fff, 238px 1173px #fff, 1519px 1219px #fff, 1807px 282px #fff,
    930px 1081px #fff, 1098px 954px #fff, 442px 291px #fff, 1383px 407px #fff,
    173px 469px #fff, 682px 1763px #fff, 1271px 1532px #fff, 1336px 1638px #fff,
    1240px 538px #fff, 276px 269px #fff, 1761px 1562px #fff, 666px 1668px #fff,
    1995px 795px #fff, 989px 672px #fff, 1318px 1248px #fff, 329px 1430px #fff,
    608px 191px #fff, 903px 1228px #fff, 971px 1669px #fff, 48px 274px #fff,
    1997px 755px #fff, 983px 1636px #fff, 1741px 1389px #fff, 1207px 1418px #fff,
    479px 1325px #fff, 1339px 1895px #fff, 422px 803px #fff, 1994px 1894px #fff,
    1297px 672px #fff, 1461px 656px #fff, 869px 406px #fff, 1186px 1643px #fff,
    391px 1978px #fff, 56px 1831px #fff, 527px 1802px #fff, 1025px 1095px #fff,
    1661px 1383px #fff, 889px 93px #fff, 1793px 1180px #fff, 559px 260px #fff,
    220px 637px #fff, 243px 1px #fff, 183px 1856px #fff, 470px 1998px #fff,
    1212px 127px #fff, 1599px 454px #fff, 1204px 480px #fff, 1207px 41px #fff,
    74px 1901px #fff, 250px 1294px #fff, 1857px 481px #fff, 517px 660px #fff,
    1524px 1505px #fff, 39px 396px #fff, 19px 137px #fff, 1672px 1134px #fff,
    1765px 1000px #fff, 98px 1876px #fff, 428px 446px #fff, 554px 590px #fff,
    1374px 1852px #fff, 1981px 1992px #fff, 848px 1520px #fff, 1411px 377px #fff,
    495px 1065px #fff, 298px 225px #fff, 1392px 1212px #fff, 296px 729px #fff,
    1809px 1586px #fff, 1035px 1735px #fff, 995px 1728px #fff,
    1339px 1444px #fff, 1130px 16px #fff, 1338px 962px #fff, 1638px 1914px #fff,
    1431px 722px #fff, 891px 944px #fff, 1696px 315px #fff, 1264px 860px #fff,
    1687px 224px #fff, 1011px 870px #fff, 530px 1768px #fff, 1063px 591px #fff,
    3px 1363px #fff, 1049px 605px #fff, 435px 522px #fff, 937px 1495px #fff,
    854px 759px #fff, 274px 1147px #fff, 1247px 224px #fff, 391px 610px #fff,
    51px 1302px #fff, 900px 154px #fff, 1434px 600px #fff, 878px 94px #fff,
    150px 1754px #fff, 1954px 1445px #fff, 877px 316px #fff, 1123px 337px #fff,
    1813px 99px #fff, 344px 81px #fff, 286px 257px #fff, 1386px 1507px #fff,
    882px 1845px #fff, 835px 1312px #fff, 767px 1330px #fff, 428px 648px #fff,
    1580px 779px #fff, 1438px 219px #fff, 512px 1222px #fff, 1319px 1473px #fff,
    539px 1719px #fff, 1111px 1847px #fff, 764px 1644px #fff, 1208px 1324px #fff,
    1798px 1574px #fff, 1349px 903px #fff, 204px 1991px #fff, 143px 53px #fff,
    1263px 62px #fff, 1896px 1697px #fff, 556px 922px #fff, 1474px 1932px #fff,
    907px 1021px #fff, 861px 1706px #fff, 1544px 1399px #fff, 94px 1143px #fff,
    400px 154px #fff, 264px 960px #fff, 1047px 911px #fff, 1786px 1337px #fff,
    1143px 485px #fff, 1592px 1735px #fff, 1366px 121px #fff, 453px 1098px #fff,
    395px 956px #fff, 1207px 918px #fff, 1764px 609px #fff, 1879px 271px #fff,
    1563px 482px #fff, 329px 1005px #fff, 306px 1802px #fff, 488px 1445px #fff,
    368px 840px #fff, 959px 1073px #fff, 1161px 1295px #fff, 1935px 1427px #fff,
    662px 796px #fff, 1705px 1449px #fff, 1991px 891px #fff, 1066px 855px #fff,
    1143px 1570px #fff, 866px 82px #fff, 1189px 1316px #fff, 1185px 38px #fff,
    1197px 971px #fff, 1240px 1482px #fff, 1269px 1809px #fff,
    1973px 1657px #fff, 353px 1441px #fff, 334px 1447px #fff, 1384px 313px #fff,
    277px 843px #fff, 71px 1197px #fff, 911px 789px #fff, 931px 1230px #fff,
    1596px 503px #fff, 421px 1897px #fff, 925px 346px #fff, 509px 698px #fff,
    74px 55px #fff, 1907px 248px #fff, 1700px 1041px #fff, 1819px 600px #fff,
    949px 247px #fff, 278px 1578px #fff, 1105px 1065px #fff, 140px 1454px #fff,
    1996px 1753px #fff, 1878px 903px #fff, 1667px 1744px #fff,
    1128px 1738px #fff, 1742px 508px #fff, 1284px 1744px #fff,
    1043px 1116px #fff, 786px 1486px #fff, 1411px 341px #fff, 1026px 225px #fff,
    1906px 1515px #fff, 50px 719px #fff, 1926px 1518px #fff, 817px 1110px #fff,
    1829px 559px #fff, 139px 1494px #fff, 439px 1388px #fff, 481px 1225px #fff,
    846px 364px #fff, 1508px 891px #fff, 1830px 1550px #fff, 389px 1378px #fff,
    330px 991px #fff, 553px 569px #fff, 1909px 1834px #fff, 636px 853px #fff,
    818px 1326px #fff, 458px 222px #fff, 845px 558px #fff, 1169px 1582px #fff,
    509px 1934px #fff, 1779px 437px #fff, 893px 862px #fff, 108px 848px #fff,
    1530px 1744px #fff, 1718px 1800px #fff, 1086px 1481px #fff,
    277px 1711px #fff, 1314px 1053px #fff, 1005px 1563px #fff, 938px 699px #fff,
    634px 1312px #fff, 479px 576px #fff, 1995px 1992px #fff, 1981px 868px #fff,
    969px 571px #fff, 1713px 128px #fff, 1984px 1718px #fff, 1046px 339px #fff,
    1196px 1193px #fff, 490px 976px #fff, 1990px 750px #fff, 5px 1558px #fff,
    656px 662px #fff, 333px 8px #fff, 1272px 77px #fff, 507px 1365px #fff,
    1037px 93px #fff, 1165px 1681px #fff, 826px 1289px #fff, 1295px 811px #fff,
    1584px 1301px #fff, 936px 834px #fff, 400px 1797px #fff, 708px 596px #fff,
    858px 1437px #fff, 39px 1487px #fff, 1373px 915px #fff, 1884px 1620px #fff,
    9px 832px #fff, 587px 543px #fff, 259px 994px #fff, 378px 60px #fff,
    1079px 1533px #fff, 485px 87px #fff, 1027px 863px #fff, 1484px 634px #fff,
    1702px 506px #fff, 1763px 172px #fff, 267px 1097px #fff, 369px 271px #fff,
    93px 437px #fff, 836px 421px #fff, 1528px 394px #fff, 241px 1952px #fff,
    700px 1037px #fff, 1458px 963px #fff, 1648px 97px #fff, 251px 1153px #fff,
    157px 675px #fff, 447px 1908px #fff, 1691px 657px #fff, 1024px 785px #fff,
    139px 1064px #fff, 409px 1504px #fff, 1389px 1637px #fff, 733px 472px #fff,
    497px 164px #fff, 1664px 252px #fff, 409px 909px #fff, 646px 1341px #fff,
    1571px 1453px #fff, 798px 181px #fff, 361px 1273px #fff, 575px 590px #fff,
    332px 1431px #fff, 269px 1589px #fff, 1919px 1785px #fff, 1657px 1072px #fff,
    1987px 1571px #fff, 801px 1274px #fff, 19px 261px #fff, 1764px 26px #fff,
    1346px 1191px #fff, 695px 47px #fff, 684px 269px #fff, 10px 1785px #fff,
    1348px 144px #fff, 951px 588px #fff, 1778px 1321px #fff, 1321px 1576px #fff,
    1330px 744px #fff, 1542px 15px #fff, 1318px 1522px #fff, 1015px 1325px #fff,
    670px 116px #fff, 1969px 120px #fff, 1885px 472px #fff, 1237px 1929px #fff,
    1036px 109px #fff, 583px 277px #fff, 1093px 677px #fff, 66px 1905px #fff,
    1748px 1998px #fff, 1882px 1943px #fff, 1358px 1347px #fff,
    1048px 1131px #fff, 986px 64px #fff, 699px 469px #fff, 1162px 1741px #fff,
    157px 698px #fff, 1355px 466px #fff, 1806px 1076px #fff, 359px 813px #fff,
    598px 1289px #fff, 1532px 182px #fff, 310px 1853px #fff, 500px 1243px #fff,
    867px 1393px #fff, 1280px 372px #fff, 167px 1809px #fff, 338px 619px #fff,
    874px 1344px #fff, 1205px 1518px #fff, 838px 1595px #fff, 37px 115px #fff,
    1727px 644px #fff, 1333px 486px #fff, 489px 633px #fff, 598px 1764px #fff,
    1978px 1641px #fff, 1509px 236px #fff, 622px 1101px #fff, 1011px 1954px #fff,
    1758px 72px #fff, 565px 1248px #fff, 1543px 418px #fff, 705px 1714px #fff,
    1182px 1435px #fff, 1563px 89px #fff, 17px 317px #fff, 988px 468px #fff,
    1096px 870px #fff, 1587px 1165px #fff, 1035px 376px #fff, 672px 1486px #fff,
    1455px 1699px #fff, 72px 1431px #fff, 237px 1058px #fff, 1558px 1088px #fff,
    1563px 569px #fff, 190px 804px #fff, 163px 1143px #fff, 1693px 324px #fff,
    888px 1692px #fff, 1697px 59px #fff, 1960px 566px #fff, 1837px 1903px #fff,
    1131px 1375px #fff, 1724px 122px #fff, 710px 154px #fff, 240px 1922px #fff,
    888px 1011px #fff, 271px 528px #fff, 407px 180px #fff, 1691px 810px #fff,
    950px 684px #fff, 774px 1708px #fff, 961px 905px #fff, 117px 526px #fff,
    4px 769px #fff, 751px 181px #fff, 1014px 823px #fff, 1895px 168px #fff,
    747px 1870px #fff, 263px 270px #fff, 206px 1552px #fff, 1927px 250px #fff,
    164px 334px #fff, 500px 889px #fff, 444px 1716px #fff, 1760px 17px #fff,
    730px 661px #fff, 950px 1254px #fff, 374px 621px #fff, 1341px 1651px #fff,
    1549px 881px #fff, 1692px 1795px #fff, 99px 1285px #fff, 457px 1824px #fff,
    43px 154px #fff, 1118px 904px #fff, 72px 1429px #fff, 60px 854px #fff,
    30px 520px #fff, 1953px 815px #fff, 1521px 923px #fff, 233px 1186px #fff,
    506px 528px #fff, 805px 635px #fff, 693px 1554px #fff, 1890px 1371px #fff,
    782px 230px #fff, 941px 189px #fff, 1039px 1774px #fff, 927px 1746px #fff,
    351px 1395px #fff, 168px 971px #fff, 769px 1389px #fff, 1367px 68px #fff,
    1950px 1270px #fff, 1835px 1448px #fff, 320px 1061px #fff, 200px 1828px #fff,
    1017px 189px #fff, 775px 1496px #fff, 356px 1008px #fff, 1751px 243px #fff,
    950px 813px #fff, 1869px 1858px #fff, 566px 363px #fff, 1658px 1379px #fff,
    1270px 72px #fff, 389px 1187px #fff, 800px 1389px #fff, 858px 595px #fff,
    1534px 1431px #fff, 1080px 637px #fff, 779px 1750px #fff, 872px 282px #fff,
    1962px 193px #fff, 533px 337px #fff, 1382px 1586px #fff, 777px 33px #fff,
    1440px 601px #fff, 998px 1788px #fff, 671px 1247px #fff, 1598px 749px #fff,
    1702px 938px #fff, 1629px 1279px #fff, 672px 779px #fff, 1755px 880px #fff,
    890px 480px #fff, 1336px 555px #fff, 1804px 315px #fff, 1331px 621px #fff,
    1196px 193px #fff, 1761px 948px #fff, 663px 1862px #fff, 255px 1363px #fff,
    1412px 922px #fff, 683px 209px #fff, 1126px 560px #fff, 576px 479px #fff,
    660px 1661px #fff, 1887px 1027px #fff, 1898px 513px #fff, 1890px 800px #fff,
    540px 1454px #fff, 1531px 1682px #fff, 249px 1190px #fff, 609px 1241px #fff,
    347px 903px #fff, 447px 762px #fff, 92px 891px #fff, 1644px 1244px #fff,
    1142px 1786px #fff, 419px 1303px #fff, 523px 1133px #fff, 1649px 1191px #fff,
    1731px 645px #fff, 31px 1014px #fff, 1244px 1001px #fff, 59px 1147px #fff,
    1755px 1432px #fff, 1769px 1876px #fff, 1145px 1982px #fff, 817px 994px #fff,
    1984px 230px #fff, 145px 1323px #fff, 590px 154px #fff, 1218px 1626px #fff,
    1165px 936px #fff, 1840px 493px #fff, 887px 776px #fff, 1292px 1928px #fff,
    1442px 1151px #fff, 865px 1792px #fff, 316px 805px #fff, 1831px 1220px #fff,
    266px 351px #fff, 821px 1792px #fff, 1718px 405px #fff, 435px 583px #fff,
    1794px 581px #fff, 1388px 376px #fff, 1778px 1084px #fff, 1000px 1043px #fff,
    1926px 1552px #fff, 1672px 916px #fff, 1645px 1494px #fff,
    1088px 1588px #fff, 420px 1049px #fff, 87px 465px #fff, 1776px 683px #fff,
    1080px 514px #fff, 964px 457px #fff, 1887px 785px #fff, 1898px 525px #fff,
    396px 753px #fff, 895px 1046px #fff, 84px 497px #fff, 151px 805px #fff,
    799px 825px #fff, 1346px 1013px #fff, 574px 468px #fff, 139px 1024px #fff,
    1119px 268px #fff, 328px 1242px #fff, 870px 888px #fff, 912px 1022px #fff,
    561px 945px #fff, 1196px 530px #fff, 1478px 1435px #fff, 361px 460px #fff,
    408px 1088px #fff, 1159px 341px #fff, 902px 1013px #fff, 1640px 711px #fff,
    102px 317px #fff, 382px 211px #fff, 68px 30px #fff, 1025px 1898px #fff,
    1487px 1034px #fff, 28px 561px #fff, 1787px 1699px #fff, 1262px 244px #fff,
    379px 494px #fff, 988px 283px #fff, 1808px 1549px #fff, 930px 1489px #fff,
    246px 422px #fff, 886px 1956px #fff, 901px 956px #fff, 1319px 1282px #fff,
    1625px 894px #fff, 89px 1094px #fff, 768px 1508px #fff, 1354px 192px #fff,
    1897px 1273px #fff, 265px 564px #fff, 965px 1079px #fff, 192px 360px #fff,
    1140px 1789px #fff, 556px 1536px #fff, 1593px 1594px #fff, 628px 1155px #fff,
    66px 55px #fff, 514px 426px #fff, 349px 983px #fff, 1528px 1191px #fff,
    1280px 1849px #fff, 445px 1914px #fff, 286px 435px #fff, 1086px 618px #fff,
    1812px 579px #fff, 454px 1256px #fff, 1387px 1737px #fff, 817px 1702px #fff,
    1858px 1193px #fff, 1102px 739px #fff, 344px 1098px #fff, 1460px 1304px #fff,
    1869px 1126px #fff, 963px 977px #fff, 1168px 175px #fff, 115px 374px #fff,
    976px 1378px #fff, 1630px 280px #fff, 1289px 1209px #fff, 1009px 1644px #fff,
    108px 1331px #fff, 627px 1032px #fff, 573px 1782px #fff, 1057px 1601px #fff,
    1085px 1760px #fff, 1335px 1556px #fff, 18px 810px #fff, 1891px 1369px #fff,
    1875px 195px #fff, 862px 655px #fff, 1845px 773px #fff, 943px 644px #fff,
    198px 1484px #fff, 756px 283px #fff, 1966px 1607px #fff, 84px 1656px #fff,
    714px 1192px #fff, 1903px 1963px #fff, 74px 860px #fff, 1377px 1713px #fff,
    1914px 1497px #fff, 367px 1904px #fff, 1731px 1861px #fff, 1500px 471px #fff,
    1230px 1112px #fff, 1227px 1177px #fff, 1130px 630px #fff, 1256px 813px #fff,
    861px 174px #fff, 333px 636px #fff, 1433px 1970px #fff, 1514px 1155px #fff,
    1058px 1546px #fff, 1220px 1709px #fff, 455px 132px #fff, 1356px 1772px #fff,
    1897px 220px #fff, 1607px 472px #fff, 996px 521px #fff, 1093px 264px #fff,
    560px 852px #fff, 774px 1055px #fff, 1368px 134px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 969px 4px #fff, 1183px 748px #fff, 1568px 541px #fff,
    395px 1578px #fff, 1663px 841px #fff, 960px 927px #fff, 373px 1935px #fff,
    86px 633px #fff, 321px 996px #fff, 1854px 915px #fff, 1014px 261px #fff,
    551px 1141px #fff, 648px 605px #fff, 652px 354px #fff, 864px 364px #fff,
    1673px 216px #fff, 1803px 730px #fff, 1020px 122px #fff, 1837px 1820px #fff,
    683px 1528px #fff, 396px 1932px #fff, 334px 1195px #fff, 1723px 1082px #fff,
    973px 963px #fff, 318px 678px #fff, 1955px 1478px #fff, 1552px 1138px #fff,
    1530px 1195px #fff, 36px 1761px #fff, 1669px 934px #fff, 1283px 832px #fff,
    392px 1519px #fff, 658px 201px #fff, 1065px 467px #fff, 1403px 1267px #fff,
    1047px 880px #fff, 1929px 1570px #fff, 1023px 1261px #fff, 1382px 102px #fff,
    1873px 836px #fff, 1218px 1646px #fff, 1891px 654px #fff, 999px 409px #fff,
    643px 1046px #fff, 1422px 386px #fff, 494px 1753px #fff, 1039px 760px #fff,
    1724px 1168px #fff, 382px 950px #fff, 869px 367px #fff, 1501px 149px #fff,
    826px 1058px #fff, 459px 257px #fff, 645px 537px #fff, 84px 1440px #fff,
    1163px 143px #fff, 482px 499px #fff, 916px 829px #fff, 369px 6px #fff,
    438px 1388px #fff, 268px 1888px #fff, 1371px 1161px #fff, 1652px 1336px #fff,
    1505px 880px #fff, 1823px 255px #fff, 804px 294px #fff, 1606px 824px #fff,
    1731px 1410px #fff, 1759px 557px #fff, 502px 711px #fff, 1223px 925px #fff,
    735px 1126px #fff, 855px 608px #fff, 1500px 116px #fff, 1496px 162px #fff,
    1935px 1692px #fff, 575px 127px #fff, 966px 929px #fff, 953px 909px #fff,
    414px 735px #fff, 1197px 1050px #fff, 1845px 1412px #fff, 1928px 253px #fff,
    355px 1513px #fff, 785px 1616px #fff, 1823px 8px #fff, 1388px 1011px #fff,
    1770px 1137px #fff, 1262px 682px #fff, 616px 702px #fff, 920px 1218px #fff,
    463px 393px #fff, 299px 279px #fff, 582px 1496px #fff, 782px 1770px #fff,
    1909px 1886px #fff, 395px 1014px #fff, 350px 614px #fff, 299px 285px #fff,
    709px 1128px #fff, 1617px 1144px #fff, 604px 1755px #fff, 914px 1402px #fff,
    306px 505px #fff, 1758px 1180px #fff, 1000px 1876px #fff, 1976px 1822px #fff,
    389px 1797px #fff, 760px 1960px #fff, 177px 1518px #fff, 1764px 1684px #fff,
    1528px 1626px #fff, 978px 1078px #fff, 267px 1878px #fff, 229px 901px #fff,
    448px 1698px #fff, 1435px 615px #fff, 768px 1578px #fff, 967px 147px #fff,
    1670px 977px #fff, 1217px 1736px #fff, 308px 1586px #fff, 493px 1404px #fff,
    537px 141px #fff, 1407px 1774px #fff, 1373px 1876px #fff, 931px 1015px #fff,
    1362px 987px #fff, 1160px 1674px #fff, 1421px 1166px #fff, 648px 916px #fff,
    734px 652px #fff, 1753px 318px #fff, 821px 388px #fff, 1287px 1584px #fff,
    290px 265px #fff, 1329px 1544px #fff, 916px 685px #fff, 991px 1450px #fff,
    1487px 650px #fff, 434px 244px #fff, 1855px 302px #fff, 389px 1175px #fff,
    941px 357px #fff, 1920px 1331px #fff, 1113px 482px #fff, 1176px 53px #fff,
    1310px 902px #fff, 1361px 1764px #fff, 1035px 979px #fff, 1242px 1782px #fff,
    327px 1269px #fff, 51px 1765px #fff, 594px 1713px #fff, 64px 1963px #fff,
    20px 912px #fff, 1766px 289px #fff, 152px 1271px #fff, 714px 1412px #fff,
    1403px 1571px #fff, 583px 981px #fff, 1602px 143px #fff, 244px 1942px #fff,
    638px 1973px #fff, 293px 1719px #fff, 1579px 1996px #fff, 1629px 836px #fff,
    222px 373px #fff, 450px 1546px #fff, 158px 1602px #fff, 1763px 1774px #fff,
    312px 1522px #fff, 1670px 283px #fff, 464px 698px #fff, 804px 1947px #fff,
    701px 1861px #fff, 1448px 543px #fff, 1840px 525px #fff, 342px 1205px #fff,
    1557px 770px #fff, 1470px 1563px #fff, 566px 1780px #fff, 1403px 129px #fff,
    819px 615px #fff, 1272px 1385px #fff, 878px 378px #fff, 1810px 166px #fff,
    1266px 1898px #fff, 968px 762px #fff, 386px 18px #fff, 1585px 552px #fff,
    1908px 1137px #fff, 972px 1069px #fff, 810px 1979px #fff, 296px 522px #fff,
    1501px 30px #fff, 203px 1412px #fff, 1622px 1266px #fff, 1304px 1088px #fff,
    1008px 656px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 969px 4px #fff, 1183px 748px #fff, 1568px 541px #fff,
    395px 1578px #fff, 1663px 841px #fff, 960px 927px #fff, 373px 1935px #fff,
    86px 633px #fff, 321px 996px #fff, 1854px 915px #fff, 1014px 261px #fff,
    551px 1141px #fff, 648px 605px #fff, 652px 354px #fff, 864px 364px #fff,
    1673px 216px #fff, 1803px 730px #fff, 1020px 122px #fff, 1837px 1820px #fff,
    683px 1528px #fff, 396px 1932px #fff, 334px 1195px #fff, 1723px 1082px #fff,
    973px 963px #fff, 318px 678px #fff, 1955px 1478px #fff, 1552px 1138px #fff,
    1530px 1195px #fff, 36px 1761px #fff, 1669px 934px #fff, 1283px 832px #fff,
    392px 1519px #fff, 658px 201px #fff, 1065px 467px #fff, 1403px 1267px #fff,
    1047px 880px #fff, 1929px 1570px #fff, 1023px 1261px #fff, 1382px 102px #fff,
    1873px 836px #fff, 1218px 1646px #fff, 1891px 654px #fff, 999px 409px #fff,
    643px 1046px #fff, 1422px 386px #fff, 494px 1753px #fff, 1039px 760px #fff,
    1724px 1168px #fff, 382px 950px #fff, 869px 367px #fff, 1501px 149px #fff,
    826px 1058px #fff, 459px 257px #fff, 645px 537px #fff, 84px 1440px #fff,
    1163px 143px #fff, 482px 499px #fff, 916px 829px #fff, 369px 6px #fff,
    438px 1388px #fff, 268px 1888px #fff, 1371px 1161px #fff, 1652px 1336px #fff,
    1505px 880px #fff, 1823px 255px #fff, 804px 294px #fff, 1606px 824px #fff,
    1731px 1410px #fff, 1759px 557px #fff, 502px 711px #fff, 1223px 925px #fff,
    735px 1126px #fff, 855px 608px #fff, 1500px 116px #fff, 1496px 162px #fff,
    1935px 1692px #fff, 575px 127px #fff, 966px 929px #fff, 953px 909px #fff,
    414px 735px #fff, 1197px 1050px #fff, 1845px 1412px #fff, 1928px 253px #fff,
    355px 1513px #fff, 785px 1616px #fff, 1823px 8px #fff, 1388px 1011px #fff,
    1770px 1137px #fff, 1262px 682px #fff, 616px 702px #fff, 920px 1218px #fff,
    463px 393px #fff, 299px 279px #fff, 582px 1496px #fff, 782px 1770px #fff,
    1909px 1886px #fff, 395px 1014px #fff, 350px 614px #fff, 299px 285px #fff,
    709px 1128px #fff, 1617px 1144px #fff, 604px 1755px #fff, 914px 1402px #fff,
    306px 505px #fff, 1758px 1180px #fff, 1000px 1876px #fff, 1976px 1822px #fff,
    389px 1797px #fff, 760px 1960px #fff, 177px 1518px #fff, 1764px 1684px #fff,
    1528px 1626px #fff, 978px 1078px #fff, 267px 1878px #fff, 229px 901px #fff,
    448px 1698px #fff, 1435px 615px #fff, 768px 1578px #fff, 967px 147px #fff,
    1670px 977px #fff, 1217px 1736px #fff, 308px 1586px #fff, 493px 1404px #fff,
    537px 141px #fff, 1407px 1774px #fff, 1373px 1876px #fff, 931px 1015px #fff,
    1362px 987px #fff, 1160px 1674px #fff, 1421px 1166px #fff, 648px 916px #fff,
    734px 652px #fff, 1753px 318px #fff, 821px 388px #fff, 1287px 1584px #fff,
    290px 265px #fff, 1329px 1544px #fff, 916px 685px #fff, 991px 1450px #fff,
    1487px 650px #fff, 434px 244px #fff, 1855px 302px #fff, 389px 1175px #fff,
    941px 357px #fff, 1920px 1331px #fff, 1113px 482px #fff, 1176px 53px #fff,
    1310px 902px #fff, 1361px 1764px #fff, 1035px 979px #fff, 1242px 1782px #fff,
    327px 1269px #fff, 51px 1765px #fff, 594px 1713px #fff, 64px 1963px #fff,
    20px 912px #fff, 1766px 289px #fff, 152px 1271px #fff, 714px 1412px #fff,
    1403px 1571px #fff, 583px 981px #fff, 1602px 143px #fff, 244px 1942px #fff,
    638px 1973px #fff, 293px 1719px #fff, 1579px 1996px #fff, 1629px 836px #fff,
    222px 373px #fff, 450px 1546px #fff, 158px 1602px #fff, 1763px 1774px #fff,
    312px 1522px #fff, 1670px 283px #fff, 464px 698px #fff, 804px 1947px #fff,
    701px 1861px #fff, 1448px 543px #fff, 1840px 525px #fff, 342px 1205px #fff,
    1557px 770px #fff, 1470px 1563px #fff, 566px 1780px #fff, 1403px 129px #fff,
    819px 615px #fff, 1272px 1385px #fff, 878px 378px #fff, 1810px 166px #fff,
    1266px 1898px #fff, 968px 762px #fff, 386px 18px #fff, 1585px 552px #fff,
    1908px 1137px #fff, 972px 1069px #fff, 810px 1979px #fff, 296px 522px #fff,
    1501px 30px #fff, 203px 1412px #fff, 1622px 1266px #fff, 1304px 1088px #fff,
    1008px 656px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 70px 625px #fff, 868px 1004px #fff, 300px 206px #fff,
    495px 107px #fff, 1476px 496px #fff, 55px 170px #fff, 966px 1713px #fff,
    280px 1284px #fff, 952px 1260px #fff, 1278px 434px #fff, 1122px 1873px #fff,
    1290px 921px #fff, 67px 386px #fff, 978px 677px #fff, 431px 313px #fff,
    204px 1945px #fff, 816px 63px #fff, 1782px 71px #fff, 1840px 334px #fff,
    1416px 252px #fff, 1566px 731px #fff, 1347px 52px #fff, 1134px 204px #fff,
    1662px 1403px #fff, 1536px 771px #fff, 711px 831px #fff, 1130px 1388px #fff,
    1850px 485px #fff, 841px 280px #fff, 1218px 508px #fff, 733px 1066px #fff,
    1113px 796px #fff, 1449px 270px #fff, 1103px 749px #fff, 694px 718px #fff,
    823px 1531px #fff, 877px 1900px #fff, 479px 259px #fff, 753px 170px #fff,
    1451px 1231px #fff, 1937px 1072px #fff, 1059px 660px #fff, 326px 176px #fff,
    63px 1573px #fff, 1423px 755px #fff, 466px 74px #fff, 1021px 1557px #fff,
    225px 1593px #fff, 1111px 432px #fff, 1978px 376px #fff, 127px 1407px #fff,
    1876px 1853px #fff, 1200px 1365px #fff, 1580px 294px #fff,
    1727px 1853px #fff, 864px 465px #fff, 1546px 1355px #fff, 1832px 733px #fff,
    1939px 1730px #fff, 473px 604px #fff, 842px 533px #fff, 1831px 1589px #fff,
    1130px 415px #fff, 223px 586px #fff, 1535px 398px #fff, 1764px 1954px #fff,
    771px 387px #fff, 556px 455px #fff, 1824px 1253px #fff, 226px 267px #fff,
    841px 302px #fff, 1629px 1111px #fff, 104px 1437px #fff, 1391px 1736px #fff,
    20px 166px #fff, 1148px 425px #fff, 1800px 1116px #fff, 1801px 966px #fff,
    1241px 1007px #fff, 907px 1042px #fff, 1599px 1129px #fff, 497px 1945px #fff,
    555px 1458px #fff, 1922px 1523px #fff, 819px 1067px #fff, 1684px 208px #fff,
    1520px 1861px #fff, 1852px 1077px #fff, 1584px 1987px #fff,
    206px 1395px #fff, 939px 1946px #fff, 520px 1784px #fff, 1455px 1288px #fff,
    393px 229px #fff, 868px 1649px #fff, 253px 1177px #fff, 1443px 735px #fff,
    1613px 1692px #fff, 830px 1355px #fff, 407px 733px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 70px 625px #fff, 868px 1004px #fff, 300px 206px #fff,
    495px 107px #fff, 1476px 496px #fff, 55px 170px #fff, 966px 1713px #fff,
    280px 1284px #fff, 952px 1260px #fff, 1278px 434px #fff, 1122px 1873px #fff,
    1290px 921px #fff, 67px 386px #fff, 978px 677px #fff, 431px 313px #fff,
    204px 1945px #fff, 816px 63px #fff, 1782px 71px #fff, 1840px 334px #fff,
    1416px 252px #fff, 1566px 731px #fff, 1347px 52px #fff, 1134px 204px #fff,
    1662px 1403px #fff, 1536px 771px #fff, 711px 831px #fff, 1130px 1388px #fff,
    1850px 485px #fff, 841px 280px #fff, 1218px 508px #fff, 733px 1066px #fff,
    1113px 796px #fff, 1449px 270px #fff, 1103px 749px #fff, 694px 718px #fff,
    823px 1531px #fff, 877px 1900px #fff, 479px 259px #fff, 753px 170px #fff,
    1451px 1231px #fff, 1937px 1072px #fff, 1059px 660px #fff, 326px 176px #fff,
    63px 1573px #fff, 1423px 755px #fff, 466px 74px #fff, 1021px 1557px #fff,
    225px 1593px #fff, 1111px 432px #fff, 1978px 376px #fff, 127px 1407px #fff,
    1876px 1853px #fff, 1200px 1365px #fff, 1580px 294px #fff,
    1727px 1853px #fff, 864px 465px #fff, 1546px 1355px #fff, 1832px 733px #fff,
    1939px 1730px #fff, 473px 604px #fff, 842px 533px #fff, 1831px 1589px #fff,
    1130px 415px #fff, 223px 586px #fff, 1535px 398px #fff, 1764px 1954px #fff,
    771px 387px #fff, 556px 455px #fff, 1824px 1253px #fff, 226px 267px #fff,
    841px 302px #fff, 1629px 1111px #fff, 104px 1437px #fff, 1391px 1736px #fff,
    20px 166px #fff, 1148px 425px #fff, 1800px 1116px #fff, 1801px 966px #fff,
    1241px 1007px #fff, 907px 1042px #fff, 1599px 1129px #fff, 497px 1945px #fff,
    555px 1458px #fff, 1922px 1523px #fff, 819px 1067px #fff, 1684px 208px #fff,
    1520px 1861px #fff, 1852px 1077px #fff, 1584px 1987px #fff,
    206px 1395px #fff, 939px 1946px #fff, 520px 1784px #fff, 1455px 1288px #fff,
    393px 229px #fff, 868px 1649px #fff, 253px 1177px #fff, 1443px 735px #fff,
    1613px 1692px #fff, 830px 1355px #fff, 407px 733px #fff;
} */

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}

.imageTitle {
  background: -webkit-linear-gradient(white, #a7a8a9);
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
